h1{font-family: 'Courier New', Courier, monospace;
    color: lightblue;
    text-decoration:underline solid black; 
}
ul{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color:darkcyan;
}
h2{
    color: darkslategray;
    background-color: lightgrey;
    font-family: cursive;
}